{% extends 'base.html' %}
{%block title%}Password-RESET |ikSaan.com-The AI Learning Hub{% endblock %}
{% load static %}
{% block main %}
{% load i18n %}
{% autoescape off %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            Hi {{ user.get_username }},

                            You're receiving this email because you requested a password reset for your account at {{ site_name }}.

                            Please go to the following page and choose a new password:

                            {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

                            Your username, in case you’ve forgotten: {{ user.get_username }}

                            If you didn’t request this password reset, please ignore this email and your password will remain unchanged.

                            Thanks,
                            The {{ site_name }} team
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
