{% extends 'base.html' %}
{%block title%}Python |ikSaan.com-The AI Learning Hub{% endblock %}
{% load static %}
{% block main %}
<H4 class="text-danger"><b>What is Programing?</b></H4>
                        <p>Programming is the process of giving instructions to a computer about how to do a task.<br>

But instead of giving the instructions verbally, you write them down in a language that a computer can understand. This language is called a programming language.<br>

A task is a piece of work to be done. In a program, it may represent a section of the program.<br>

A programming language has its own vocabulary and syntax just as we have in English, Hindi and other languages.<br>
                        </p>
<h4 class="text-danger"><b>Types of Programming Languages</b></h4>
<p>Programming languages are classified into two main categories:<br></p>
<ul>
<li class="ms-4">Languages</li>
<li class="ms-4">High-level Languages</li>
<li class="ms-4">Low-level Language</li>
</ul>

    <h4><b>Low-level Languages</b></h4>
<p>Low-level languages (LLL) are machine-friendly languages that are closer to the machine and harder for humans to understand. They are used to control the hardware of the computer.<br>

Machine language and assembly language are examples of low-level languages. These languages communicate with the computer directly, so no language translation is required. instructions in the machine language are written using Os and 1s, which are known as binary digits. On the o hand, symbolic names, also known as mnemonics, are used in assembly language for writing programs.<br></p>

<h4><b>High-level Language</b></h4>

<p>High-level languages (HLL) are user-friendly and easier to use than low-level languages. They are used for various tasks like making games, websites, and analysing data.

Java, Python, and C are examples of HLLS.

HLLS make programming simpler because they use words that are human readable like English language words, instead of the hard-

to-remember Os and 1s of machine language. But, before a computer can run an HLL program, it needs to be

translated into LLL.
</p>

{% endblock %}