
/* To Prevent selection for content copy */
    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }


    
    /* Disable text selection */
    .no-copy {
          user-select: none; /* Standard syntax */
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
    }
  
    #fullscreen-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;
  }


  #pdfCarousel {
    width: 100%;
    height: 100vh; /* Full height on larger screens */
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    max-width: 100%; /* Ensures the canvas fits within the available width */
    height: auto; /* Maintain the aspect ratio */
}

/* Ensure mobile responsiveness */
@media (max-width: 768px) {
    #pdfCarousel {
        height: 80vh; /* Reduced height on mobile */
    }
    canvas {
        max-width: 90vw; /* Canvas max width set for small screens */
        max-height: 75vh; /* Canvas max height set for small screens */
    }
}


.iksaan {
    text-align: center;
    color: red;
  } 


