{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{{ article.title }} - ikSaan.com{% endblock %}
{% block description %}
    {% if article.description %}
        {{ article.description }}
    {% else %}
        Learn about {{ article.title }} and its insights.
    {% endif %}
{% endblock %}
{% load static %}
{% block main %}
{% for comment, replies in comments_with_replies.items %}
    <div class="d-flex flex-start">
        <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.author.avatar.url }}" alt="avatar" width="65" height="65" />
        <div class="flex-grow-1 flex-shrink-1">
            <div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="fw-bold text-primary mb-0">{{ comment.author }}</h6>
                    <p class="text-muted small mb-0">{{ comment.created_at|date:"F j, Y, g:i a" }}</p>
                </div>
                <p class="mb-0">{{ comment.content }}</p>
            </div>
            <div class="mt-3">
                {% for reply in replies %}
                    <div class="d-flex flex-start mt-2">
                        <img class="rounded-circle shadow-1-strong me-3" src="{{ reply.author.avatar.url }}" alt="avatar" width="55" height="55" />
                        <div class="flex-grow-1 flex-shrink-1">
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="fw-bold text-primary mb-0">{{ reply.author }}</h6>
                                    <p class="text-muted small mb-0">{{ reply.created_at|date:"F j, Y, g:i a" }}</p>
                                </div>
                                <p class="mb-0">{{ reply.content }}</p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No replies yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

{% endblock %}