{% extends 'base.html' %}
{%block title%}Register{% endblock %}
{% load static %}
{% block main %}
<div class="pagetitle">
  <h1>Contact</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
        <!-- Reports -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">  
<!-- ################# Page Starts ##################-->                  
<!-- Page Start -->
 
 <!-- Page End -->
<!-- ################# Page Ends ##################-->                       
</div>
</div>
</div>
</div>
</div>
</section>  
{% endblock %}