{%block title%}Register{% endblock %}
{% load static %}
{% block main %}
{% load content_filters %}
<section class="section dashboard">
  <div class="row border border-primary">
    <!-- Left side columns -->
    <div class="col-lg-8 border border-danger">
      <div class="row">
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Recent Articles <span>| Today</span></h5>
              <div class="row row-cols-1 row-cols-md-1 g-1">
                {% for article in articles %}
                {% if article.is_approved %}
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      <a href="{% url 'article_detail' article.slug %}">
                      <h5 class="card-title">{{ article.title }}</span></h5>
                      </a>
                    </div>              
                    
                    <img src="/media/{{ article.thumbnail}}" class="img-thumbnail rounded float-start"
                      alt="{{ article.title }}" />
                    <div class="card-body">
                      <hr>
                      <p class="card-text">
                        {{ article.content|truncate_words:50|safe }}
                      </p>
                      <a href="{% url 'article_detail' article.slug %}">Read More</a>
                    </div>
                    <div class="card-footer">Footer
                      <div class="row"><!--author--><!--publication_time-->
                        <div class="col-6">
                          <p class="text-start"><strong>Author:</strong> {{ article.author }}</p>
                        </div>
                        <div class="col-6"> 
                          <p class="text-end"><strong>Published:</strong> {{ article.created_at }}</p>
                        </div>
                      </div>                 
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div><!-- End Recent Sales -->
      </div>
    </div><!-- End Left side columns -->
    <!-- Right side columns -->
    <div class="col-lg-4 border border-danger">

      <div class="card border border-info">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">AI Market Trend <span>| Today</span></h5>

          <div id="trafficChart" style="min-height: 500px;" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                series: [{
                  name: 'AI Market Trend',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [{
                      "value": 1500,
                      "name": "Healthcare"
                    },
                    {
                      "value": 1300,
                      "name": "Finance"
                    },
                    {
                      "value": 1100,
                      "name": "Retail"
                    },
                    {
                      "value": 900,
                      "name": "Automotive"
                    },
                    {
                      "value": 800,
                      "name": "Manufacturing"
                    },
                    {
                      "value": 700,
                      "name": "Telecommunications"
                    },
                    {
                      "value": 600,
                      "name": "Education"
                    },
                    {
                      "value": 500,
                      "name": "Energy"
                    }
                  ]
                }]
              });
            });

          </script>

        </div>
      </div><!-- End Website Traffic -->  

      <!-- News & Updates Traffic -->
      <div class="card border border-info">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">Trending Articles <span>| Today</span></h5>

          <div class="news">
            {% for t_article in t_articles %}
            {% if t_article.is_approved %}
            <div class="post-item clearfix">
              <img src="/media/{{ t_article.thumbnail }}" class="img-thumbnail rounded" alt="">
              <h4><a href="{% url 'article_detail' t_article.slug %}">{{ t_article.title }}</a></h4>
              <p>{{ article.excerpt }}</p>
            </div>
            {% endif %}
            {% endfor %}
          </div><!-- End sidebar recent posts-->

        </div>
      </div><!-- End News & Updates -->

    </div><!-- End Right side columns -->
  </div>
</section>
{% endblock %}